<div class="login-box">
    <div class="login-logo">
        <a routerLink="/" routerLinkActive="active"><b>Admin</b>LTE</a>
    </div>
    <!-- /.login-logo -->
    <div class="login-box-body">
        <div class="text-center text-center">
            <h3 class="error-number">500</h3>
            <h3>Internal Server Error</h3>
            <p>
                We track these errors automatically, but if the problem persists feel free to contact us. In the meantime, try refreshing.
            </p>
        </div>
    </div>
    <!-- /.login-box-body -->
</div>
<!-- /.login-box -->
