<div class="login-box">
    <div class="login-logo">
        <a routerLink="/" routerLinkActive="active"><b>Admin</b>LTE</a>
    </div>
    <!-- /.login-logo -->
    <div class="login-box-body">
        <p class="login-box-msg">Sign in to start your session</p>
        <form #frm="ngForm" (ngSubmit)="login(frm)">
            <div class="form-group has-feedback">
                <input type="email" class="form-control" placeholder="Email" 
                       name="username"
                       ngModel
                       required
                       pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
                       #email="ngModel">
                <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                <div *ngIf="email.invalid && (email.dirty || email.touched)" class="text-center validation-message">
                    <div *ngIf="email.errors.required">
                        E-mail is required.
                    </div>
                    <div *ngIf="email.errors.pattern">
                        Must be valid e-mail address.
                    </div>
                </div>
            </div>
            <div class="form-group has-feedback">
                <input type="password" class="form-control" placeholder="Password" 
                       name="password"
                        ngModel
                        required
                        minlength="6"
                        #password="ngModel">
                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                <div *ngIf="password.invalid && (password.dirty || password.touched)" class="text-center validation-message">
                    <div *ngIf="password.errors.required">
                        Password is required.
                    </div>
                    <div *ngIf="password.errors.minlength">
                        Password must be at least 6 characters long.
                    </div>
                </div>
            </div>
            <div class="row">
                <!-- /.col -->
                <div class="col-xs-12">
                    <button type="submit" class="btn btn-primary btn-block btn-flat" [disabled]="frm.invalid">Sign In</button>
                </div>
                <!-- /.col -->
            </div>
            <div class="form-group has-feedback">
                <div class="text-center error_text">{{error}}</div>
            </div>            
        </form>
        <div class="social-auth-links text-center">
            <p>- OR -</p>
            <a href="#" class="btn btn-block btn-social btn-facebook btn-flat">
            <i class="fa fa-facebook"></i> Sign in using
            Facebook
        </a>
        <a href="#" class="btn btn-block btn-social btn-google btn-flat">
            <i class="fa fa-google-plus"></i> Sign in using
            Google+
        </a>
        </div>
        <!-- /.social-auth-links -->
        <a routerLink="/app_recover_password" routerLinkActive="active" class="text-center">I forgot my password</a><br />
        
        <a routerLink="/app_register" routerLinkActive="active" class="text-center">New to site? Create Account</a>
    </div>
    <!-- /.login-box-body -->
</div>
<!-- /.login-box -->