<div class="login-box">
    <div class="login-logo">
        <a routerLink="/" routerLinkActive="active"><b>Admin</b>LTE</a>
    </div>
    <!-- /.login-logo -->
    <div class="login-box-body">
        <div class="text-center text-center">
            <h3>You've been signed out</h3>
        </div>
        <div class="text-center text-center">
            <span>
                Back to
                <a routerLink="/" routerLinkActive="active" class="to_register">Log in</a>
            </span>
        </div>
    </div>
    <!-- /.login-box-body -->
</div>
<!-- /.login-box -->